* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.contact .content p{
    color: #fff;
    font-size: 1.1em;
    /* text-align: center; */
    font-weight: 300;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
}

.container .contactInfo .box:hover .icon{
    background: aquamarine;
    color: rgb(0, 0, 0);
}

.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: aquamarine;
}

.container .contactInfo .txt{
    font-weight: 500;
    color: #fff;
    margin-top: 50px;
    padding-left: 10px;
    border-left: 50px solid #e91e63;
    line-height: 1em;
}

.sci{
    position: relative;
    display: flex;
    gap :30px;
    margin: 20px 0;
}

.sci li{
    list-style: none;
}
.sci li a{
    color: #fff;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: rgb(208, 238, 14);
}
.container .contactForm{
    position: relative;
    width: 40%;
    background: #fff;
    min-height: 100px;
    padding: 60px;
}
.container .contactForm h2{
    font-size: 2em;
    color: #333;
    font-weight: 500;
}
.container .contactForm h2 .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0  ;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.container .contactForm .inputBox span{
    position: absolute;
    left: 90px;
    margin: 10px 0;
    pointer-events: none;
    padding: 5px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
}

.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 0.9em;
    transform: translate(-20px);
}
.container .contactForm .inputBox [type = "submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactForm,
    .container .contactInfo{
        width: 100%;
    }
    .container .contactForm{
        padding: 50px 30px;
    }
}